body.light{
    background-color: rgb(170, 170, 170);
}

.container.light{
    background-color: rgb(205, 205, 205);
}

.matches.light{
    background-color: rgb(231, 231, 231);
}

.upcoming.light{
    background-color: rgb(231, 231, 231);
}

.about.light{
    background-color: rgb(231, 231, 231);
}